{% extends "blogapp/base.html" %}
{% block title %}Login{% endblock title %}


{% block content %}



    <h1>Login</h1>
    <br><br>
    <div class="form-group">
<form action="" method='POST'>
    {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name = 'username' placeholder='Username' >
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name = 'password' placeholder='Password' >
        </div>
   



        <button class='btn btn-dark'>Login</button>
    </form>
    <br>
    
</div>
<br>
<a class='text-dark' href="{% url 'signup' %}">Not Registered? Sign Up here .... </a>

    
    



{% endblock content %}